.my-cart {
  background-color: rgba(0, 0, 0, 0.25);
  inset: 0;
  position: fixed;
  z-index: 10000;
  & > div {
    padding: 29px 32px;
    top: 0px;
    bottom: 0;
    width: 475px;
    right: 0;
    background-color: #fff;
    opacity: 1;
    position: absolute;
    box-shadow: -1.78px -1.78px 4px #00000040;

    .close {
      margin-left: auto;
      display: block;
      background-color: unset;
      img {
        height: 16px;
      }
    }
    h1 {
      color: var(--secondary-color);
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      margin: 8px auto 50px;
    }
    p {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
    }
    .my-cart-product-card {

    }
  }
}
