@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
:root {
  --primary-color: #fff100;
  --secondary-color: #542e90;
}

.transparent-button {
  background-color: unset;
  border: unset;
  padding: 0;
}
